.App {
    font-family: sans-serif;
    text-align: center;
    margin: 0 auto;
    width: 600px;
}

.App > p {
    text-align: left;
}

.block {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.block > h1 {
    width: 8%;
}

button {
    width: 8%;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #e7e7e7;
    color: black;
    border-radius: 5px;
}

.active {
    background-color: #4caf50;
}
